{% extends 'base.html' %} {% block content %} 게시글이 있으면 {% if question %}
<ui>
  <p>게시글 번호: {{ question.id }}</p>
  <p>제목: {{question.subject }}</p>
  <p>내용: {{question.content }}</p>
  <p>게시글 작성시간: {{question.create_date }}</p>
  <br />
  answer_set이 있으면 {% if question.answer_set %} <br />
  <hr />
  {% for answer in question.answer_set %} {% if loop.first %}
  <strong> ☝☝ 시작 ☝☝ </strong>
  {% elif loop.last %}
  <strong> ✋✋ 끝 ✋✋</strong>
  {% endif %}
  <p>댓글 번호: {{ loop.index }}</p>
  <p>댓글내용: {{ answer.content }}</p>
  <p>댓글 작성시간: {{ answer.create_date }}</p>
  <hr />
  {% endfor %}
</ui>
<!-- <ul>
      <p>댓글 번호 {{ question.answer_set[0].id }}</p>
      <p>댓글내용 {{ question.answer_set[0].content }}</p>
      <p>댓글 작성시간 {{ question.answer_set[0].create_date }}</p>
      {% endif %}
    </ul> -->
{% else %}
<p>해당하는 글이 없습니다.</p>
{% endif %} {% endblock %}
